
app = angular.module("inventoryApp", [ "appControllers", "ngAnimate","ngResource", "ngRoute", 'smart-table'])
$(document).on 'ready page:load', ->
  angular.bootstrap("body", ['inventoryApp'])
  

app.service('data', () -> 
  data = {}
  data.products = "default"
  data
)

app.factory('ajaxServices',[ '$http', '$q', ( $http, $q ) ->
	{ getProducts: () -> 
		deferred = []
			# call http method
		$http.get('../product/')
		.success( ( result ) ->  
			console.log result.products
			deferred = result.products )
		.error( ( err ) ->
		    console.log( err ))
			
		deferred
	}
])

app.config( ['$routeProvider','$httpProvider','$locationProvider',( $routeProvider, $httpProvider, $locationProvider ) ->
  $httpProvider.defaults.headers.common['X-CSRF-Token'] = $('meta[name=csrf-token]').attr('content');
  ###
  $routeProvider.when('/',
  {
    templateUrl: "<%= asset_path('product.html') %>" ,
    controller: 'MenuController'
  }).when('product', 
  {
    templateUrl: "<%= asset_path('new_product.html') %>" ,
    controller: 'NewProductController'
  }).otherwise({
    redirectTo: "product/new"
  })
  ###
  #$locationProvider.html5Mode true
])

app.factory('Products',['$resource', ( $resource )->
	
])


