_controllers = angular.module('appControllers', ["ngAnimate","ngResource", "ngRoute"])

_controllers.controller('ProductController', ['$scope', '$http', '$routeParams','data', 'ajaxServices','$filter', ($scope, $http, $routeParams, data, ajaxServices, $filter) -> 
  #$scope.products = ajaxServices.getProducts()
  $scope.products = []
  $scope.shownProducts = []
  $scope.data = data
  $scope.itemsByPage=5;
  
  sucess_fn = ( dt ) ->
	  $scope.products = dt.products
	  $scope.shownProducts.concat( dt.products )
  
  $http.get('../product/').success(sucess_fn).error( (err) ->
	  console.log( err ))
  
  $scope.some_url = "<%= asset_path('product.html') %>"
  
  #Show description of the product by click event on the row
  $scope.ShowDescriptionProduct = ( product_code, event )->
	  $("tr.product-desc").css('display', 'none')
	  $("tr").css('background-color', '#FFF')
	  $( event.currentTarget ).css('background-color', "#DDD")
	  $( event.currentTarget ).next().css('background-color', "#EEE")
	  $( "tr#"+ product_code ).fadeIn("slow")
	  console.log event
	  #, -> $("tr#"+_id).css('display', 'table-row'))
	  true
	  
  $scope.AddProduct = ->
	  $("#myModal").modal( { backdrop: 'static', keyboard: true } ) # cant return DOM object
	  true
])

_controllers.controller('MenuController', ['$scope', '$http', '$routeParams', 'data', ($scope, $http, $routeParams, data) ->
 $scope.data = data

 #$scope.$params = $routeParams
   #$http.get('../product/').
   #success( (data) -> 
   #  $scope.products =  data.products
   #  #console.log( data )
   #).error( (data) ->
   #  console.log( data )
   #  );
   
 $scope.Show = (key)->
   $scope.data.products = key
   console.log key
]);

_controllers.controller('NewProductController', ['$scope', '$http', '$routeParams', ($scope, $http, $routeParams) ->
  $scope.data = "Maria Injusta"
]);