<div class="sm-store-content" data-st-table="shownProducts" st-safe-src="products" data-ng-controller="ProductController">
  <div>
    <ol class="breadcrumb">
      <li><a href="#">Todos los Productos</a></li>
      <li><a href="#">{{ data.products }}</a></li>
      <li class="active">Chapas</li>
    </ol>
  </div>
  <div>
    <button id="smNewProduct" type="button" class="btn btn-primary" data-ng-click="AddProduct()">Nuevo Producto</button>
    <form class="form-inline pull-right">
      <div class="form-group has-feedback">
        <input type="text" data-st-search class="form-control" id="inputSuccess4" aria-describedby="inputSuccess4Status">
        <a href="#"><span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span></a>
        <span id="inputSuccess4Status" class="sr-only">(success)</span>
      </div>
    </form>
  </div>
  <br />
  <table  class="table table-condensed table-hover">
    <thead>
		<tr id='sample'>
			<th st-sort="code">Código</th>
			<th st-sort="description">Descripción</th> 
			<th st-sort="quantity">Cantidad</th>
			<th st-sort="cost">Costo</th>
			<th st-sort="pvp" st-skip-natural="true">PVP</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr st-select-row="row" st-select-mode="multiple" class="repeated-item" data-ng-repeat-start="product in shownProducts " data-ng-click="ShowDescriptionProduct( product.code, $event )">
		  <td>{{ product.code }}</td>
		  <td>{{ product.description }}</td>
		  <td>{{ product.quantity }}</td>
		  <td>{{ product.cost | currency}}</td>
		  <td>{{ product.pvp | currency}}</td>

		  <td>
		    <a href="#{{ product.code }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
		    <a href="#{{ product.code }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
		    <a href="#{{ product.code }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
		  </td>
		</tr>
		<!-- Show description of the product -->
		<tr class='product-desc' id="{{product.code}}" data-ng-repeat-end> 
		  <td colspan="6"> 
			  <span class='row'>
				  <span class='col-md-3 col-sm-3 col-xs-3'> {{product.quantity}} </span>
				  <span class='col-md-3 col-sm-3 col-xs-3'> {{product.quantity}} </span>
				  <span class='col-md-3 col-sm-3 col-xs-3'> {{product.quantity}} </span>
				  <span class='col-md-3 col-sm-3 col-xs-3'> {{product.quantity}} </span>
			  </span>
		  </td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="6" class="text-center">
				<div st-pagination="" st-items-by-page="10" st-displayed-pages="8"></div>
			</td>
		</tr>
	</tfoot>
  </table>
  {{ data.products }}
</div>



<!-- end sm-store-content -->
<div class="sm-store-content">
  <p><img src="/assets/inventory.png" alt="Inventory" width="200" height="200" class="img-circle" /></p>
  <h1>Inventario</h1>
</div>