<div data-ng-controller="ProductsController">
  <div class="sm-store-content" >
    <div class="row" style="border-bottom: solid 1px; border-color: #DDD; margin-bottom: 20px">
      <div class="col-md-12" style="text-align: center;">
        <h3>Crear Producto</h3>
      </div>
    </div>
    
    <div class="row">
      <form novalidate >
      <div class="col-md-6">
        <div class="form-group">
          <label for="sm-frm-name">Nombre</label>
          <input type="text" class="form-control" id="sm-frm-name" placeholder="Ingrese el nombre del producto">
        </div>
        <div class="form-group">
          <label for="sm-frm-description">Descripción</label>
          <textarea cols="40" rows="5" class="form-control" id="sm-frm-description" 
          placeholder="Ingrese la descripción del producto"> </textarea>
        </div>
      </div>
      <div class="col-md-6">
        
        <div class="form-group">
          <label for="sm-frm-cost">Costo</label>
          <div class="input-group">
            <input type="text" class="form-control" id="sm-frm-cost" 
            placeholder="Ingrese el costo del producto"  aria-describedby="basic-addon1"/>
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-usd"></i></span>
          </div>
        </div>
        
        <div class="form-group">
          <label for="sm-frm-utility">Utilidad</label>
          <div class="input-group">
            <input type="text" class="form-control" id="sm-frm-utility" 
            placeholder="Ingrese la utilidad del producto en %" aria-describedby="basic-addon2"/>
            <span class="input-group-addon" id="basic-addon2">%</span>
          </div>
        </div>
        
        <div class="form-group">
          <label for="sm-frm-pvp">P.V.P.</label>
          <div class="input-group">
            <input type="text" class="form-control" id="sm-frm-pvp" 
            placeholder="Ingrese el PVP del producto." aria-describedby="basic-addon3"/>
            <span class="input-group-addon" id="basic-addon3"><i class="fa fa-usd"></i></span>
          </div>
        </div>
      
      </div>
    </form>
    </div>
    
  
    

  </div>

  <div class="sm-store-content">
     <form novalidate>
         Name: <input type="text" ng-model="user.name" /><br />
         E-mail: <input type="email" ng-model="user.email" /><br />
         Gender: <input type="radio" ng-model="user.gender" value="male" />male
         <input type="radio" ng-model="user.gender" value="female" />female<br />
         <input type="button" ng-click="reset()" value="Reset" />
         <input type="submit" ng-click="update(user)" value="Save" />
       </form>
       <pre>form = {{user | json}}</pre>
       <pre>master = {{master | json}}</pre>
    
  
  </div>
</div>