<!DOCTYPE html>
<html>
<head>
  <title>Store Management</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
  <link href='http://fonts.googleapis.com/css?family=Poiret+One|Josefin+Slab|Muli|Architects+Daughter|Raleway:300' rel='stylesheet' type='text/css' />

  <!-- This line enable using polymer components-->
  
  
  <%= csrf_meta_tags %>
</head>
<body>
  
  

              <%= yield %>
              
</body>
</html>
