<!DOCTYPE html>
<html>
<head>
  <title>Store Management</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Poiret+One|Josefin+Slab|Muli|Architects+Daughter|Raleway:300' rel='stylesheet' type='text/css'>

  <!-- This line unable using polymer components-->
  
</head>
<body>
<div class="container-fluid">
  <div class="row">
    
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="row" style="background-color: #00B789">
        <div class="col-md-3 col-xs-3 sm-store-logo">
          <p>Mi Ferretería</p>
        </div>
        
        <div class="col-md-9 col-sm-9 col-xs-9 sm-store-header-menu">
          <ul>
            <li>
              <a href="#">
                 <i class="fa fa-power-off fa-1x"></i>
              </a>
            </li>
            <li>
              <a href="#" style="font-size: 12px; padding: 10px">
                <img src="/assets/person1.jpg" alt="Inventory" width="40" height="40" class="img-circle" />
                <span>Juan Macas</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-inbox fa-1x"></i>
                <span class="badge" style="background-color: #D75F49">8</span>
              </a>
            </li>
            <li>
              <a href="#" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                <i class="fa fa-bell fa-1x"></i>
                <span class="badge" style="background-color: #D75F49">42</span>
              </a>
            </li>
          </ul>
        </div>
        
      </div>
    </div>
    
    
  </div> <!-- end row -->
  
  <div class="row" style="background-color: #003040;">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1">
          <div class="sm-store-menu" data-ng-controller="MenuController">
            <ul>
              <li>
                <a href="#">
                  <span>
                    <span><i class="fa fa-cubes fa-4x"></i></span>
                    <span>Productos</span>
                  </span>
                </a>
                <!-- sub-menu -->
                <ul>
                  <li><span class="title">Acciones Generales {{ data.message }}</span></li>
                  <li><a href="/store/new"><span class="content">Agregar Producto</span></a></li>
                  <li><a href="/store"><span class="content">Mostrar todos los Productos</span></a></li>
                  <li><span class="title">Productos</span></li>
                  <li><a href="" data-ng-click="Show('pvc')">
                    <span class="content">PVC</span></a></li>
                  <li><a href="" data-ng-click="Show('materiales')">
                    <span class="content">Materiales</span></a></li>
                  <li><a href="" data-ng-click="Show('herramientas')">
                    <span class="content">Herramientas</span></a></li>      
                  <li><a href="" data-ng-click="Show('aceros')"><span class="content">Aceros</span></a></li>  
                  <li><a href="" data-ng-click="Show('materialelec')"><span class="content">Material Eléctrico</span></a></li>
                  <li><a href="" data-ng-click="Show('pintura')"><span class="content">Pintura</span></a></li>
                  <li><a href="" data-ng-click="Show('maquinaria')"><span class="content">Maquinaria</span></a></li>
                  <li><a href="" data-ng-click="Show('techos')"><span class="content">Techos</span></a></li>
                  <li><a href="" data-ng-click="Show('fregadero')"><span class="content">Fregadero</span></a></li>
                  <li><a href="" data-ng-click="Show('griferia')"><span class="content">Grifería</span></a></li>
                  <li><a href="" data-ng-click="Show('manguera')"><span class="content">Mangueras</span></a></li>
                  <li><a href="" data-ng-click="Show('cerrajeria')"><span class="content">Cerrajería</span></a></li>
                  <li><a href="" data-ng-click="Show('bondex')"><span class="content">Bondex y Porcelana</span></a></li>
                  <li><a href="" data-ng-click="Show('pvc')"><span class="content">Plásticos</span></a></li>
                  <li><a href="" data-ng-click="Show('pvc')"><span class="content">Espejos</span></a></li>
                  <li><a href="" data-ng-click="Show('pvc')"><span class="content">Piso Flotante</span></a></li>
                  <li><a href="" data-ng-click="Show('pvc')"><span class="content">Bloques y Mat. de Construcción</span></a></li>
                </ul>
                <!-- end sub-menu -->
              </li>
              <li>
                <a href="#">
                  <span>
                    <span><i class="fa fa-money fa-4x"></i></span>
                    <span>Facturación</span>
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>
                    <span><i class="fa fa-file-pdf-o fa-4x"></i></span>
                    <span>Reportes</span>
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>
                    <i class="fa fa-cogs fa-4x"></i>
                    <span>Configuración</span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <!-- end sm-store-menu -->
        </div>
        <div class="col-md-11 col-sm-11 col-xs-11" style="background-color: #EFEFEF">
          <%= yield %>
          
          
          
          
         
          
          <div class="sm-store-content" >
            <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>         is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
            <span style="text-align: center">Design by Efraín Astudillo</span>
          </div>
          
        </div>
        
      </div>
    </div>
  </div> <!-- end row -->

</div> <!-- end container fluid -->


  <div id="myModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <p>One fine body&hellip;</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


</body>
</html>