<div class="sm-site-body">

  <div class="container-fluid sm-site-body">
    
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <!-- header -->
        <div id="sm-header" class="row">
          <!-- Title site -->
          <div class="col-md-6 col-sm-6 sm-logo">
            <!-- Logo (title) -->            
            <p>Store Management</p>
          </div>
            <!-- Main menu -->
          <div class="col-md-6 col-sm-6 sm-index-menu" >
            <ul>
              
              <li class="sm-login"><a href="#"> Sign In </a></li>
              <li><a href="#">About</a></li>
              <li><a href="#products">Product</a></li>
              <li><a href="#">Home</a></li>
            </ul>
          </div> 
        </div>
        <!-- center vertical align content -->
        <div id="sm-content-1" class="row">
          <!-- banner images -->
          <div class="col-md-12 col-sm-12 sm-banner">
                
          </div>
          <!-- concept -->
          <div class="col-md-12 col-sm-12 sm-concept">
                 <h1>Administrador de Inventario y Facturación en un solo sitio</h1>
          </div>
          <!-- sub-concept -->
          <div class="col-md-12 col-sm-12 sm-subconcept">
                 <h3>Administra tu tienda de manera ágil, sencilla y efectiva.</h3>
          </div>
        </div>
        <div class="row"><p class="bg-primary" style="height: 1px"></p></div>
        <div id="products" class="row sm-content-2">
          <div class="col-md-12 col-sm-12">
            <div class="row" style="padding-top: 60px;">
              <div class="col-md-4 col-sm-4" style="text-align: center">
               
                <p ><img src="/assets/admin.jpg" alt="administration" width="200" height="200" class="img-circle"></p>
                <h1>Administración</h1>
                <h3>Dale valor a tu negocio facilitando la administración de tus productos y servicios.</h3>
              </div>
              <div class="col-md-4 col-sm-4" style="text-align: center" >
                <p><img src="/assets/inventory.png" alt="Inventory" width="200" height="200" class="img-circle"></p>
                <h1>Inventario</h1>
                <h3>Mantén tu stock actualizado y entérate a tiempo cuando necesites incrementarlo.</h3>
              </div>
              
              <div class="col-md-4 col-sm-4" style="text-align: center" >
                <p><img src="/assets/factura.jpg" alt="Invoice" width="200" height="200" class="img-circle"></p>
                <h1>Facturación</h1>
                <h3>Genera facturas a tus clientes de manera rápida y eficiente.</h3>
              </div>
            </div>
            
          </div>
        </div>
        <div class="row sm-content-3">
          <div class="col-md-12 col-sm-12">
          </div>
        </div>

        <!-- footer -->
        <div class="row sm-content-4">
          <div class="row" style="padding-bottom: 50px;">
            <div class="col-md-offset-3 col-md-2 col-sm-2">
              <h3 style="color:#00B789">Recursos</h3>
              <p><core-icon icon="chevron-right"></core-icon>Blog</p>
              <p><core-icon icon="chevron-right"></core-icon>Soporte</p>
              <p><core-icon icon="chevron-right"></core-icon>Desarrolladores</p>
            </div>
            <div class="col-md-2 col-sm-2">
              <h3 style="color:#00B789">Comunidad</h3>
              <p><span class="glyphicon glyphicon-pushpin"></span>Twitter</p>
              <p><span class="glyphicon glyphicon-ok"></span>Google+</p>
              <p><core-icon icon="chevron-right"></core-icon>Facebook</p>
            </div>
            <div class="col-md-2 col-sm-2">
              <h3 style="color:#00B789">Contacto</h3>
              <p>efrain.astudillo58@gmail.com</p>
              <p>pittersdb@hotmail.com</p>
              <p>+593 991005371</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12" style="text-align: center;">
              <footer style="color: #BBBBBB">All rigths reserved &copy 2015. Design by Efraín Astudillo</footer>
            </div>
          </div>
        </div>
      </div>   
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Inicio de Sesión</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon1">
            <i class="fa fa-envelope-o fa-fw"></i>
          </span>
          <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
        </div>
        <br />
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon1">
            <i class="fa fa-key"></i>
          </span>  
          <input type="text" class="form-control" placeholder="Password" aria-describedby="sizing-addon1">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Login</button>
      </div>
    </div>
  </div>
</div>