<div id="sm_div_login" layout vertical center center-justified>
  <paper-shadow  z="2"  id="sm_login_definition" layout vertical>

    <%= form_tag( welcome_validate_login_path, method: "post", id: "smFormLogin") do %>
    <div id="name" layout vertical>
      <paper-input-decorator id="smUsername"
        floatinglabel
        label="Usuario"
        validate="^[A-Za-z0-9]*$"
        error="Username should contain only letters or number">
        <input is="core-input">
      </paper-input-decorator>
    
      <paper-input-decorator id="smPassword"
        floatinglabel
        label="Contraseña"
        validate="^[A-Za-z0-9]*$"
        error="Password should contain only letters or number">
        
        <input is="core-input">
      </paper-input-decorator>
    </div>
    
    <div layout horizontal flex>
      <div flex>
        <span><a href="#">Olvidó la clave?.</a></span> <br />
        <span><a href="#">Crear nueva cuenta.</a></span> <br />
        <p id="smMsgLogin"></p>
      </div>
      <div >
        <paper-button id="smLoginButton" raised >
          <core-icon icon="check"></core-icon>
          Login
        </paper-button>
      </div>
    </div>
  
    <div>
      <p>All Rigths Reserved &copy 2015 Develop and Design by Efraín Astudillo</p>
    </div>
    <% end %>
  </paper-shadow>
  
  
</div>