/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= 
 */

$border-radius-base: 2px;
$brand-primary: darken(#00AF85, 0%);
$brand-success: #468C00;
$btn-default-color: #00AF85;
$btn-default-border: #00AF85;
$input-border-focus: #00AF85;

$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";


//font-family: 'Architects Daughter', cursive;
//font-family: 'Raleway', sans-serif;
//font-family: 'Muli', sans-serif;
//font-family: 'Josefin Slab', serif;
//font-family: 'Poiret One', cursive;

body {
 font-family: 'Raleway', sans-serif;
}

.btn-primary{
  background-color: #00AF85;
  border-color: #00AF85;
}
.btn-default{
  color: #00AF85;
  //background-color: #00AF85;
  border-color: #00AF85;
}
.modal-content {
  border-radius: 2px;
}