/* ================ Left menu on store backend ================ */
.sm-store-menu{
  margin: 0 -15px;
  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    li{
      position: relative;
      &:hover{
        background-color: #002735;
        position: relative;
      }
      &:hover > ul{
        visibility: visible;
      };
      a{
        &:hover {
          text-decoration: none;
          color: #FFFFFF;
        };
        text-align: center;
        display: block;
        font-size: 12px;
        color: #DDDDDD;
        padding-top: 14px;
        padding-bottom: 14px;
        span{
          display: block;
        }
      } // end <a>
      // ==== submenu    =========
      ul {
        visibility: hidden;
        top: 0;
        position: absolute;
        //float: right;
        left: 100%;
        z-index: 100;
        margin: 0;
        padding: 20px;
        color: #888888;
        background-color: #FFF;
        opacity: 0.97;
        -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.25);
        box-shadow: 1px 1px 5px rgba(0,0,0,.25);
        li {
          background-color: none;
          width: 220px;
          &:hover{
            background-color: #FFF;
            opacity: 0.97;
          };
        }
        a {
            text-align: left;
            padding: 5px 0;
        }
        table {
          margin-bottom: 10px;
        }
        span.title{
          display: block;
          font-weight: bold;
          border-bottom: 1px solid #DDD;
        };
        span.content{
          color: #888888;
          display: inline;
          width: 100px;
          padding: 6px 10px;
          
          &:hover{
            color: #00af85;
          };
          
        };
        &:after{
          clear: both;
        };
      }
    } // end <li>
  } // end <ul>
}

/* ================ Top Horizontal menu on store backend ================ */
.sm-store-header-menu ul {
  list-style-type: none;
  padding: 0;
  li{
    float: right;
    text-align: center;
    a {
      display: block;
      //width: 100px;
      color: #FFF;
      font-size: 20px;
      padding: 16px 16px;
      &:hover{
        background-color: rgb(35, 155, 114);
        text-decoration: none;
      };
    }; // end </a>
  }; // end </li>
}

.sm-store-logo p{
  color: #FFF;
  font-size: 20px;
  margin: 16px 16px;
}

/* ================ card design for store backend content ================ */
.sm-store-content{
  background-color: #FFF;
  padding: 30px;
  margin: 15px 0;
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.25);
  box-shadow: 1px 1px 5px rgba(0,0,0,.25);
}
