// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
:host {
  display: block;
  width: 34em;
  margin-top: 10%;
}
*/
html, body {
  height: 100%;
  margin: 0;
}


/* =========================  login design =========================*/
.sm-site-body{
  font-family: 'Josefin Slab', serif;
  color: #FFF;
  font-weight: normal;
  background-color: #003040;
  //background-image: url("background.jpg");
  //font-family: 'Josefin Slab', serif;
  //color: #FFF;
  //font-weight: normal;
  //width: 100%;
  //height: 100%;
}
#sm-header{
  //height: 80px;
  padding-top: 15px;
  color: #FFF;
  position: relative;
}
.sm-header {
  
}
.sm-logo p{
  line-height: 100%;
  margin: 0;
  font-size: 40px;
}
.sm-logo{
  margin: 0;
  //position: absolute;
  //top: 25%;
  color: #DDDDDD;
}

.sm-index-menu{
  position: absolute;
  top: 20%;
  margin: 0;
}
.sm-index-menu ul{
  list-style-type: none;
  padding: 0;
  margin:0;
}
.sm-index-menu ul li {
  padding: 10px 10px;
  float: right;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 50px;
}
.sm-index-menu ul li a{ 
  text-align: center;
  font-size: 22px;
  color: #00B789;
  text-decoration: none;
  display: block;
  width: 80px;
  height: 35px;
}
.sm-index-menu ul li:hover{
  background-color: #002837;
}
.sm-index-menu ul li a:hover{
  color: #00FFBE;
};
.sm-index-menu .sm-login{
  border: solid #00B789;
  border-width: 1px 1px;
}
#sm-content-1{
  //height: 450px;
  padding-bottom: 50px;
}
.sm-content-2 {
  //height: 550px;
  color: #000;
  background-color: #EEEEEE;
  padding-bottom: 50px;
}
.sm-content-3{
  //height: 400px;
  background-color: #468C00;
  padding-bottom: 50px;
}
.sm-content-4{
  padding-bottom: 20px;
}
.sm-content-4 p {
  color: #AAAAAA;
  font-size: 18px;
}
.sm-banner{
  height: 300px;
}
.sm-concept h1{ margin: 0;}
.sm-concept{
  text-align: center;
}
.sm-subconcept h3{ margin: 0;}
.sm-subconcept{
  color: #00B789;
  text-align: center;
}

@media (min-width: 1338px){
  .sm-index-menu ul{
    //margin-top: 10px;
  }
}

@media (min-width: 760px) and (max-width: 1337px ) {
  .sm-header{
    
  }
  .sm-index-menu ul{
    
  }
  .sm-footer{
    
  }
  .sm-content{
    
  }
}